aiohttp==2.2.5
async-timeout==2.0.0
certifi==2018.1.18
chardet==3.0.4
discord.py==1.0.0a0
idna==2.6
multidict==4.1.0
psycopg2==2.7.3.2
pytz==2017.3
requests==2.18.4
SQLAlchemy==1.2.2
urllib3==1.22
websockets==3.4
yarl==1.1.0
